@model List<Resume.Domain.Models.Entities.MySkills.MySkill>


<div class="content-wrapper" style="min-height: 265.6px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">لیست مهارت ها</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="/AdminPanel">داشبورد ادمین</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">جدول مهارت ها</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>نام مهارت </th>
                                        <th> میزان توانایی  </th>
                                       
                                    </tr>

                                    @foreach (var MySkill in Model)
                                    {
                                        <tr>
                                            <td>@MySkill.Id</td>
                                            <td>@MySkill.SkillTitle</td>
                                            <td>
                                                @MySkill.Persentage
                                            </td>

                                            <td>
                                                <a class="badge badge-primary" style="cursor:pointer;"
                                                   asp-action="EditMySkill"
                                                   asp-area="AdminPanel"
                                                   asp-controller="MySkills"
                                                   asp-route-mySkillId="@MySkill.Id">
                                                    ویرایش
                                                </a>

                                                <a class="badge badge-danger" style="cursor:pointer;"
                                                   asp-action="DeleteMySkill"
                                                   asp-area="AdminPanel"
                                                   asp-controller="Myskills"
                                                   asp-route-mySkillId="@MySkill.Id">حذف</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
</div>